<table>
   <tr>
      <th>Cascade Code:</th>
      <td class="cascade_code">{{site.cascade_code}}</td>
   </tr>
   <tr *ngIf="site.site_name && site.site_name !== 'Unknown'">
      <th>Site Name:</th>
      <td>{{site.site_name}}</td>
   </tr>
   
   <tr>
      <th>Site Type:</th>
      <td>{{site.site_type_name}}</td>
   </tr>
   <tr>
      <th>Address:</th>
      <td>{{site.address1}}<br *ngIf="site.address1">
          {{site.address2}}<br *ngIf="site.address2">
          {{site.city}}, {{site.state}} {{site.zip_code}}
      </td>
   </tr>
   <tr>
      <th>County:</th>
      <td>{{site.county}}</td>
   </tr>
   <tr>
      <th>Latitude:</th>
      <td>{{site.latitude | number: '1.6-6'}} N</td>
   </tr>
   <tr>
      <th>Longitude:</th>
      <td>{{site.longitude | number: '1.6-6'}} W</td>
   </tr>
   <tr *ngIf="site.elevation_feet">
      <th>Elevation:</th>
      <td>{{site.elevation_feet | number}} ft</td>
   </tr>
   <tr>
      <th>Structure Type:</th>
      <td>{{site.structure_type_name}}</td>
   </tr>
   <tr>
      <th>Repair Priority:</th>
      <td>{{site.repair_priority_name}}</td>
   </tr>
   <tr>
      <th>Timezone:</th>
      <td>{{site.timezone_name}}</td>
   </tr>
   <tr>
      <td class="by" colspan="2">Created by {{site.created_by_name}} on {{site.create_date}}</td>
   </tr>
   <tr>
      <td class="by" colspan="2">Modified by {{site.modified_by_name}} on {{site.modified_date}}</td>
   </tr>
</table>