<table>
   <tr>
      <th>Cascade Code:</th>
      <td>{{site.cascade_code}}</td>
   </tr>
   <tr *ngIf="site.site_name && site.site_name !== 'Unknown'">
      <th>Site Name:</th>
      <td>{{site.site_name}}</td>
   </tr>
   
   <tr>
      <th>Site Type:</th>
      <td>{{site.site_type_name}}</td>
   </tr>
   <tr>
      <th>Address:</th>
      <td>{{site.address1}}
          {{site.address2}}
          {{site.city}}, {{site.state}} {{site.zip_code}}
      </td>
   </tr>
   <tr>
      <th>County:</th>
      <td>{{site.county}}</td>
   </tr>
   <tr>
      <th>Latitude:</th>
      <td>{{site.latitude}}</td>
   </tr>
   <tr>
      <th>Longitude:</th>
      <td>{{site.longitude}}</td>
   </tr>
   <tr *ngIf="site.elevation_feet">
      <th>Elevation (ft):</th>
      <td>{{site.elevation_feet}}</td>
   </tr>
   <tr>
      <th>Structure Type:</th>
      <td>{{site.structure_type_name}}</td>
   </tr>
   <tr>
      <th>Repair Priority:</th>
      <td>{{site.repair_priority_name}}</td>
   </tr>
   <tr>
      <th>Timezone:</th>
      <td>{{site.timezone_name}}</td>
   </tr>
   <tr>
      <th>Region:</th>
      <td><a routerLink="/browse/region/{{site.region_id}}">{{site.region_name}}</a></td>
   <!-- </tr>
   <tr>
      <th>99 Market:</th>
      <td>{{site.market99_name}}</td>
   </tr> -->
   <tr>
      <th>L4 Market:</th>
      <td><a routerLink="/browse/l4_market/{{site.l4_market_id}}">{{site.l4_market_name}}</a></td>
   </tr>
   <tr>
      <th>L5 Market:</th>
      <td><a routerLink="/browse/l5_market/{{site.l5_market_id}}">{{site.l5_market_name}}</a></td>
   </tr>
   <tr>
      <th>Cluster:</th>
      <td><a routerLink="/browse/org_cluster/{{site.org_cluster_id}}">{{site.org_cluster_name}}</a></td>
   <!-- </tr>
   <tr>
      <th>MTA:</th>
      <td>{{site.mta_name}}</td>
   </tr>
   <tr>
      <th>BTA:</th>
      <td>{{site.bta_name}}</td>
   </tr> -->
   <tr>
      <td class="by" colspan="2">Created by {{site.created_by_name}} on {{site.create_date}}</td>
   </tr>
   <tr>
      <td class="by" colspan="2">Modified by {{site.modified_by_name}} on {{site.modified_date}}</td>
   </tr>
</table>