table {
   border-collapse: collapse;
}
th {
   text-align: left;
   background-color: lightyellow;
   vertical-align: text-top;
}
td {
   padding-left: 10px;
}
td.cascade_code {
   font-weight: bold; 
   font-size:larger;
   color: darkred;
}
td.by{
   font-size: smaller;
   color: gray;
   font-style: italic;
}