.menuBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0 1.5em;
  background: darkslateblue;
  z-index:11;  
  overflow:hidden;
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
  color: white;
}

.menuBar__icon {
  padding-top: 7.5px;
  display: inline-block;
}
.menuBar__icon img {
  height: 35px;
  padding-right: 0.5rem;
  display: inline-block;
  vertical-align: 00%;
}

.menuBar__title {
  margin: 0;
  font-family: Salsa, Serif;
  font-size: xx-large;
  font-weight: bold;
  display: inline-block;
  padding-top: 2px;
  vertical-align: top;
}

.menuBar__menu {
  display: inline-block;
  width: calc(100% - 190px);
  text-align: right;
  vertical-align: 50%;
}
.menuBar__menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menuBar__menu a {
  color: white;
  font-weight: bold;
}
.menuBar__menu a:hover {
  color: lightblue;
}