.menuBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0 1.5em;
  background: darkslateblue;
  z-index:11;  
  overflow:hidden;
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
  color: white;
}

.menuBar__icon {
  padding-top: 7.5px;
  display: inline-block;
}
.menuBar__icon img {
  height: 35px;
  padding-right: 0.5rem;
  display: inline-block;
  vertical-align: 00%;
}

.menuBar__title {
  margin: 0;
  font-family: Salsa, Serif;
  font-size: xx-large;
  font-weight: bold;
  display: inline-block;
  padding-top: 2px;
  vertical-align: top;
}

.menuBar__menu {
  display: inline-block;
  width: calc(100% - 190px);
  text-align: right;
  vertical-align: 50%;
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  & li {
    display: inline;
    list-style-type: none;
    &:nth-of-type(1) {
      padding-right: 20px;
    }
  }
  & .loginButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    font-family: Roboto, sans-serif;
    &:hover {
      color: lightblue;
    }
  }
}


.search-box {
  display: inline-block;
  width: 130px;
  height: 23px;
  background-color: white;
  padding: 5px 10px;
  box-shadow: 1px 1px 4px #555 inset;
  border-radius: 20px;
  border: 1px solid darkblue;
  &:hover {
    border: 1px solid #2d9fd9;
  }
  &:focus-within { 
    outline: 1px solid #2d9fd9 
  }
  & input {
    width: 100px;
    border:none;
    &:focus {
      outline: none;
    }
  }
  & button {
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    right: 0px;
    color:black ;
    background-color:transparent;
    pointer-events: painted;    
  }
}
