.disableParent {
  position: fixed;
  top: 0;
  left: 0;
  background: #bbb;
  opacity: 0.7;
  z-index: 99;
  height: 100%;
  width: 100%;
  transition: all 2s ease-in;
}

.spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: .7;
  z-index: 100;
  transition: all 2s ease-in;
}
.spinnerItem {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: .5rem;
  animation: scaling 2.5s ease-in-out infinite;
}

@keyframes scaling {
  0%, 100%{
     transform:scale(0.2);
     background-color: #800080;
  }
  40%, 60% {
     transition:scale(1);
     background-color: #e20074;
  }
  50% {
     transform:scale(1);
     background-color: #e20074;
  }
}
.spinnerItem:nth-child(1) {
  animation-delay: 0.4s;
}
.spinnerItem:nth-child(2) {
  animation-delay: 0.2s;
}
.spinnerItem:nth-child(3) {
  animation-delay: 0s;
}
.spinnerItem:nth-child(4) {
  animation-delay: 0.2s;
}
.spinnerItem:nth-child(5) {
  animation-delay: 0.4s;
}