.pageControls__btn-group {
  display: inline-block;
  padding-top: 1rem;
}

.pageControls__btn-group button {
  background-color: white; 
  border: 1px solid darkblue;
  color: darkblue; 
  padding: 10px 15px; 
  cursor: pointer; 
  float: left; 
  font-weight: bold;
  font-size: 10pt;
  font-family:Roboto, Arial, sans-serif;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.pageControls__btn-group button.selected:disabled {
  background-color: darkblue; 
  border: 1px solid darkblue; 
  color: white; 
}

.pageControls__btn-group button.spacer:disabled {
  padding: 10px 5px;
}

.pageControls__btn-group button:disabled {
  background-color: #dddddd; 
  border: 1px solid darkblue; 
  color: white; 
  padding: 10px 15px; 
  cursor: default; 
  float: left; 
  font-weight: bold;
}

.pageControls__btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.pageControls__btn-group button:first-child {
  border-top-left-radius: 10px;  
  border-bottom-left-radius: 10px;
}
.pageControls__btn-group button:last-child {
  border-top-right-radius: 10px;  
  border-bottom-right-radius: 10px;
}

/* Clear floats (clearfix hack) */
.pageControls__btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.pageControls__btn-group button:hover:not(:disabled) {
  background-color: darkcyan;
  color: white;
}