.siteDetailBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 3em;
  margin-top: 0.5rem;
}

.siteDetailColumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

