.title {
  color: darkgoldenrod;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.list li a {
  color: darkgoldenrod;
  text-transform: capitalize;
  font-size: 11pt;
  font-weight: normal;
  & span {
    font-size: 9pt;
  }
}