.siteTable {
  border-collapse: collapse;
}

.siteTable th {
  text-align:left;
  vertical-align: text-top;
  background-color:lightyellow;
  border-right: 1px solid gray;
  border-left: 1px dotted lightgray;
  border-top: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  padding: 0.1rem 1rem;
}
.siteTable td {
  vertical-align: text-top;
  padding: 0.1rem 1rem;
  border-top: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  border-right: 1px dotted lightgray;
}
.siteTable td.cascadeCode {
  font-size:larger;
  font-weight: bold;
  color: darkred;
}
tr.edits th {
  font-size: smaller;
}
tr.edits td {
  color: gray;
  font-style: italic;
  font-size: smaller;
}