<a routerLink="/browse/"><mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon></a> 
<mat-icon aria-hidden="false" aria-label="arrow" fontIcon="chevron_right"></mat-icon>
<a routerLink="/browse/region/{{site.region_id}}">{{site.region_name}}</a> 
<mat-icon aria-hidden="false" aria-label="arrow" fontIcon="chevron_right"></mat-icon>
<a routerLink="/browse/l4_market/{{site.l4_market_id}}">{{site.l4_market_name}}</a> 
<mat-icon aria-hidden="false" aria-label="arrow" fontIcon="chevron_right"></mat-icon>
<a routerLink="/browse/l5_market/{{site.l5_market_id}}">{{site.l5_market_name}}</a> 
<mat-icon aria-hidden="false" aria-label="arrow" fontIcon="chevron_right"></mat-icon>
<a routerLink="/browse/org_cluster/{{site.org_cluster_id}}">{{site.org_cluster_name}}</a>

<mat-card>
   <app-spinner *ngIf="is_loading" dotSize="40px"></app-spinner>

   <mat-card-content>

      <div class="container">
         <div class="item">
            Site:<br>
            <app-site-info [site]="site"></app-site-info>      
         </div>
         <div class="item">
            <a routerLink="/map" [queryParams]="{latitude: site.latitude, longitude: site.longitude}">
               <app-site-map [latitude]="site.latitude" [longitude]="site.longitude"></app-site-map>
            </a>
            Nearby Sites:
         </div>
      </div>

      Equipment:
      <mat-tab-group>
         <mat-tab label="3G">3G</mat-tab>
         <mat-tab label="LTE">LTE</mat-tab>
         <mat-tab label="NR">NR</mat-tab>
      </mat-tab-group>
   </mat-card-content>
</mat-card>


